* {
    user-select: none; /* Prevents text selection */
    caret-color: transparent; /* Hides blinking text cursor */
}

#next-section {
    height: 100vh; 
}

#name{
    color: rgb(122, 37, 37);
}
#into-to-website {
    height: 100vh; /* Make the section full viewport height */
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Align items vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

#into-to-website .content { /* Container for the content */
    text-align: center;
}
#header{
    top: 0;
    width: 100%;
    background-color: #ffffff;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    outline: none; /* Removes outline for all links */
    border: none; 
    margin: 0;
    padding: 0;
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    outline: none; /* Removes outline for all links */
    border: none; 
}


/* makes botton interactive and nicer*/

.scroll-button {
    transition: transform 0.2s ease;
    transform-origin: bottom;
    background-color: #ffffff; /* Dark red color */
    color: rgb(3, 3, 3); /* White text */
    padding: 6px 10px; /* Adjust padding for a better shape */
    /* border: none; Remove default border */
    border-radius: 21px; /* Makes the button rounded
    cursor: pointer; /* Make cursor a pointer on hover */
    border-color:#8e2828;
    border-width: 3px;
    font-weight: 600px;
    box-shadow: 0 4px 6px rgba(155, 127, 127, 0.2); /*Add a slight shadow */
}

.scroll-button:hover {
    transform: scale(1.1);
}

#header .nav-link{
    color: black
}

#header .nav-link:hover {
    color: #930b0b; /* Hover color (slightly darker blue) */
    /* background-color: #7f7575; Light gray background on hover */
}

#about-section img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%; /* Make the image circular */
    margin-top: 150px;
    margin-bottom: 50px;
}

#projects-section {
    margin-top: 300px; /* Adjust the value as needed */
}

#projects-section,
#about-section, #header ,#skills {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */

}

#skills{
    width: 100%;
}
#header .container{
    font-size: 1.2rem;
    font-weight: 400;
}


#about-title{
    color: #8e2828;
}

/* makes the effect in the text in the opening screen */
h1.text-body-emphasis-1 {
    color: black;
    opacity: 0;
    transform: translateX(-0.5rem); /* Slide in from left */
    transition: transform 2s ease, opacity 2s ease; /* Add transition */
}

h1.text-body-emphasis-1.show {
    opacity: 1;
    transform: translateX(0); /* Return to normal position */
}

body.is-preload h1.text-body-emphasis-1 {
    opacity: 0;
    transform: translateX(-0.5rem); /* Initial state for preload */
}

body.is-preload h1.text-body-emphasis-1.show {
    opacity: 1;
    transform: translateX(0);
}


#first-item{
    background-color:rgb(149, 42, 42);; /* Light background */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    border-top-color: 1px solid #dee2e6;
    margin-bottom: 80px;
    margin-top: 70px;
    color: aliceblue;
}

#second-item{
    background-color: #d2d2d2; /* Light background */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
    border-top-color: 1px solid #dee2e6;
}

.project-item:hover {
    transform: translateY(-2px); /* Slightly lift on hover */
    box-shadow: 0 4px 6px rgba(88, 71, 71, 0.2); /* Enhanced shadow on hover */
}

/* #contact-section .contact-icon:hover {
    transform: translateY(-5px);
} */

#contact-section {
    padding: 80px 0;
    margin-top: 100px;
}

.contact-icon {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

#contact-section .contact-icon img {
    transition: transform 0.2s ease;
}

#contact-section .contact-icon:hover img {
    transform: translateY(-2px);

}